@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Roboto+Slab:wght@300&display=swap");
#access-container button, label, #developed-by, h2, .heading-container p#heading {
  font-weight: 700;
}

#confirm-password:user-invalid + span::after, #password:user-invalid + span::after, #phone:user-invalid + span::after, #email:user-invalid + span::after, #last-name:user-invalid + span::after, #first-name:user-invalid + span::after {
  color: red;
  font-size: 13px;
  width: 400px;
  position: absolute;
  top: 1.7rem;
  left: -255px;
}

body {
  margin: 0;
  position: relative;
}

.supreme-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.side-hero {
  background-image: url(https://images.unsplash.com/photo-1700573941868-5547f43dcbed?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  height: 100vh;
  width: 700px;
  position: relative;
}

.website-logo-stripe {
  height: 400px;
  width: 700px;
  background: rgba(71, 62, 54, 0.6);
  position: relative;
  top: 10%;
}

.website-logo-stripe .image-container {
  width: 50%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

.footer-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.footer-container p {
  color: #999;
  text-align: center;
  font-family: "Hedvig Letters Sans", sans-serif;
  font-size: 16px;
}

.right-container {
  position: relative;
  background-color: #eee;
  height: 100vh;
  width: 100%;
}

.heading-container {
  height: 20%;
  width: 800px;
  position: relative;
  top: 12%;
  left: 60px;
}

.heading-container p#heading {
  font-family: "Hedvig Letters Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2.3rem;
}

.form-container {
  width: 1100px;
  height: 261px;
  background: peachpuff;
  position: absolute;
  top: 35%;
  padding: 20px 60px 0;
  font-family: "Hedvig Letters Sans", sans-serif;
  box-shadow: 0 10px 10px lightgray;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

#developed-by {
  position: absolute;
  right: 60px;
  font-size: 1.6rem;
  color: #aaa;
  line-height: 2.3rem;
}

#developed-by a {
  color: #aaa;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  height: 300px;
  width: 900px;
  line-height: 1rem;
  row-gap: 20px;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 250px;
  height: 1.5rem;
  font-family: "Hedvig Letters Sans", sans-serif;
  font-size: calc(0.8rem + 5px);
  border-radius: 5px;
  border: 2px solid black;
}

span {
  position: relative;
}

input:focus {
  border: 2px solid blue;
  box-shadow: 3px 7px 10px darkgray;
}

input:valid {
  border-color: green;
}

input:valid + span::after {
  content: " ✓";
  color: green;
}

input:user-invalid {
  border-color: red;
}

#first-name:user-invalid + span::after {
  content: "✖ Please type in your first name";
}

#last-name:user-invalid + span::after {
  content: "✖ Please type in your last name";
}

#email:user-invalid + span::after {
  content: "✖ Email must end with @gmail.com";
}

#phone:user-invalid + span::after {
  content: "✖ Type your phone in the following format: XXX-XXX-XXXX";
}

#password:user-invalid + span::after {
  content: "✖ Password must be at least 8 characters";
}

#confirm-password:user-invalid + span::after {
  content: "✖ Password must be at least 8 characters";
}

label {
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 1.3rem;
}

input:user-invalid:empty + label::after {
  content: "* Required.";
  color: red;
  position: relative;
  top: 1.3rem;
  left: -250px;
}

#access-container {
  height: 100px;
  width: 350px;
  font-family: "Hedvig Letters Sans", sans-serif;
  position: absolute;
  top: 70%;
  left: 60px;
}

#access-container button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: darkgray;
  font-family: inherit;
  font-size: 24px;
  color: #eee;
  padding: 8px 32px;
  border: none;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

#access-container p {
  font-family: "Hedvig Letters Sans", sans-serif;
  font-size: 21px;
}

a {
  text-decoration: none;
  color: darkgreen;
}/*# sourceMappingURL=style.css.map */